* {
  padding: 0;
  margin: 0;
}
/*
Darkest blue; #66a9dd
Medium blue: #9cc5f0
Lightest blue: #bbe7f6
light pink: #fedef2
Light light B:#bbe7f6
*/
body{
  background-color: #bbe7f6;
  text-align: center;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
header{
  opacity: 0.9;
  height: 70px;
  background: #66a9dd;
  width: 100%;
  z-index: 12;
  position: fixed;
}
.logo{
  width:30%;
  float:left;
  line-height:70px;
}
.logo a{
  text-decoration: none;
  font-size: 30px;
  font-family: "DM sans", sans-serif;
  color: white;
  letter-spacing: 5px;
}
nav{
  float:right;
  line-height:70px;
}
nav a{
  text-decoration: none;
  font-family:"DM sans", sans-serif;
  font-size: 4px;
  font-size: 20px;
  margin: 0 10px;
}
ul{
  list-style: none;
}
.banner-area{
  margin: 0;
  padding:0;
  margin-top:0;
  width:100%;
  height: 600px;
  position: relative;
  top: 70px;
  background-image: url(Banner.jpg);

  background-size:contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.content-area{
  width:100%;
  position: relative;
  top:150px;
  
  height:1500px;
}
hr{
 border-top: 1px solid #1c364a;
}
.content-area h2{
  font-family:"DM sans", sans-serif;
  letter-spacing: 4px;
  padding-top:10px;
  font-size: 40px;
  margin: 0;
}
.content-area p{
  padding: 2% 0;
  font-family: "Truculenta", sans-serif;
  line-height: 30px;

}
h1{
  font-family: "DM Sans", sans-serif;
  background-color: #9cc5f0;
  text-align: center;
  padding: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

h3{
  font-family: "DM Sans", sans-serif;
  background-color: #9cc5f0;
  padding: 0;
  width: 30%;
  height: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}
.pitch, .theme, .why{
  font-size: 18px;
  max-width: 950px;
  max-height: 150px;

  padding:15px;
  margin-bottom:20px;

  font-family: "Truculenta", sans-serif;
  margin:auto;
  margin-bottom:20px;
  background-color: #9cc5f0;
  border-radius:10px;
}
.why{
  font-size: 18px;
  max-width: 950px;
  max-height: 200px;

  padding:15px;
  margin-bottom:20px;

  font-family: "Truculenta", sans-serif;
  margin:auto;
  margin-bottom:20px;
  background-color: #9cc5f0;
  border-radius:10px;
}

/*p, h3{


  background-color: #9cc5f0;
  border-radius:10px;
}*/

br, hr{
  margin:20px;
}
iframe{
  padding: 10px;
  background-color: #9cc5f0;
  width: 95%;
  height: 500px;

  border-radius: 10px;

  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

video{
  padding: 10px;
  background-color: #9cc5f0;
  width: 95%;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

span{
  margin:0;

}

img{

  border-radius: 10px;
  padding: 0;
}
.gallery{
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  width: 200px;
  padding:10px;  
  padding-bottom: 80px;
  height: 300px;


  border: 1px solid black;
  margin-bottom: 25px;
  border-radius:10px;
  background-color:#66a9dd;
}

.gallery .description{
  position: relative;
  color: white;
  text-align: center;
  font-family: "Truculenta", sans-serif;
}

.gallery:hover{
  border: 1px solid #fedef2;
}

.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  position: relative;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  font-family: "Truculenta", sans-serif;
}

ul li a:hover {
  background-color: #59789a;
}

